<div class="flex flex-col h-full py-16 mx-auto">
    <mat-card class="container flex flex-col items-center justify-center flex-1 px-3 align-center">
      <mat-card-header class="center">
        <mat-card-title class="mb-8 text-3xl text-center">New Customer</mat-card-title>
      </mat-card-header>
  
      <form class="px-3 pt-6 pb-8 bg-white rounded shadow-md" [formGroup]="customerForm">
        <mat-card-content>
          <mat-form-field class="w-full">
            <input type="text" class="py-4" matInput placeholder="Fullname" formControlName="fullname" required>
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <input type="text" class="py-4" matInput placeholder="Adress" formControlName="adress" required>
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <input class="py-4" type="text" matInput placeholder="City" formControlName="city" required>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="center" (click)="submitCustomer()">Save</button>
      </form>
    </mat-card>
  
    
  </div>